@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
h2 {
    text-align: center;
    font-size: 18px;
    color: #88b06a; 
}

h3{
    font-size: 16px;
    padding-bottom: 5px;
    color: #088178;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #88b06a;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

/* Header CSS */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #e6ffe6;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }

#header a img{
    height: 50px;
    width: 100px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: None;
    padding: 0px 15px;
    position: relative;
}

#navbar li a {
    text-decoration: None;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#page-header img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40vh;
}

#about {
    display: flex;
    justify-content: flex-start;
    padding-right: 15px;
}

#about .about-us {
    width: 45%;
    height: 40vh;
}

#about .about-us p {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px;
}
#about .about-us ul {
    padding-top: 15px;
    padding-left: 15px;
}

#about .about-us ul li a{
    text-decoration: none;
    color: #088178;
    font-size: 18px;
    line-height: 26px;
}

#about .about-us ul li a:hover {
    color: #88b06a;
}

#about .business-hour {
    width: 45%;
    height: 40vh;
}

#about .business-hour table {
    width: 60%;
    margin-top: 20px;
    margin-left: 100px;
}

#about .business-hour table td{
    padding: 2px;
}

#testimonial .review{
    display: flex;
    justify-content: space-between;
}

#testimonial .review-box {
    margin-top: 15px;
    width: 30%;
    height: 40vh;
}

#testimonial .icon {
    padding: 10px 10px 0px 10px;
    display: flex;
}

#testimonial .star-icon {
    display: flex;
}

#testimonial .star-icon i {
    color: rgb(251,188,4);
    padding-right: 3px;
}

#testimonial .star-icon p {
    padding-left: 5px;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

#testimonial .option-icon i {
    align-items: left !important;
    color: black;
}

#testimonial .review-box p{
    text-align: justify;
    padding: 0px 5px;
    font-size: 15px;
    line-height: 20px;
}

#testimonial .review-box h4{
    text-align: right;
    font-size: 18px;
    color: #88b06a;
    font-weight: 500;
}

#testimonial .button-normal {
    padding-top: 20px;
    text-align: center;
}

#testimonial .button-normal a{
    text-decoration: none;
    color: #88b06a;
    margin-left: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #88b06a;
    font-size: 16px;
    font-weight: 600;
}

#testimonial .button-normal a:hover {
    color: #088178;
}
#gallery .image{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#gallery .image img{
    width: 33%;
    height: 40vh;
}

#call-address-button {
    display: flex;
    justify-content: center;
}


#call-address-button .call-now{
    padding: 0 50px 0 50px;
}

#call-address-button .call-now p{
    padding-top: 10px;
}

#call-address-button .address{
    padding: 0 50px 0 50px;
}

#call-address-button .address p{
    padding-top: 10px;
}

/* Accounting Page */

#accounting .accounting-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#accounting .accounting-details img{
    width: 30%;
    height: 40vh;
}

#accounting .accounting-info h5{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

#accounting .accounting-info ul{
    padding-left: 25px;
    padding-bottom: 5px;
}

#accounting .accounting-info ul li{
    line-height: 25px;
}

#tax .tax-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#tax .tax-details img{
    width: 30%;
    height: 40vh;
}

#tax .tax-info {
    margin-left: 75px;
}

#tax .tax-info h5{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

#tax .tax-info ul{
    padding-left: 25px;
    padding-bottom: 5px;
}

#tax .tax-info ul li{
    font-size: 14PX;
    line-height: 25px;
}

/* Immigration Page */
#immigration .immigration-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#immigration .immigration-details  img{
    width: 30%;
    height: 40vh;
}

#immigration .immigration-info  {
    margin-left: 75px;
}

#immigration .immigration-info h5{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

#immigration .immigration-info ul{
    line-height: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
}

#immigration .immigration-info ul li{
    line-height: 30px;
}

/* Notary Page */
#notary .notary-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#notary .notary-details  img{
    width: 30%;
    height: 40vh;
}

#notary .notary-info  {
    margin-left: 75px;
}

#notary .notary-info p{
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 25px;
}

/* Translation Page */
#translation .translation-details {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#translation .translation-details  img{
    width: 30%;
    height: 40vh;
}

#translation .translation-info {
    margin-left: 75px;
}

#translation .translation-info h5{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}

#translation .translation-info ul{
    line-height: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
}

#translation .translation-info ul li{
    line-height: 30px;
}

/* Social Service Page */

#social-service .social-service-details {
    display: flex;
    padding-top: 20px;
}

#social-service .social-service-details img{
    width: 30%;
    height: 40vh;
}

#social-service .social-service-info {
    margin-left: 75px;
}

#social-service .social-service-info p{
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 25px;
}

/* Contact Page */

#form-details form span{
font-size: 12px;
}

#form-details form h1 {
font-size: 26px;
line-height: 35px;
padding: 20px 0;
}

#form-details {
display: flex;
justify-content: space-between;
margin: 15px;
padding: 30px;
}

#form-details form {
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
width: 100%;
padding: 12px 15px;
outline: none;
margin-bottom: 20px;
border: 1px solid #e1e1e1;
}

#form-details form button {
background-color: #088178;
color: #fff;
}

footer {
    font-size: 12px;
    text-align: center;
}