@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
h2 {
    text-align: center;
    font-size: 18px;
    color: #88b06a; 
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
  }

/* Header CSS */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #e6ffe6;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }

#header a img{
    height: 50px;
    width: 100px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: None;
    padding: 0px 15px;
    position: relative;
}

#navbar li a {
    text-decoration: None;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#page-header img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40vh;
}

#about {
    display: flex;
    justify-content: flex-start;
    padding-right: 15px;
}

#about .about-us {
    width: 45%;
    height: 40vh;
}

#about .about-us p {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px;
}
#about .about-us ul {
    padding-top: 15px;
    padding-left: 15px;
}

#about .about-us ul li a{
    text-decoration: none;
    color: #088178;
    font-size: 18px;
    line-height: 26px;
}

#about .about-us ul li a:hover {
    color: #88b06a;
}

#about .business-hour {
    width: 45%;
    height: 40vh;
}

#about .business-hour ul {
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
    margin-left: 100px;
    list-style: none;
    font-size: 18px;
}

#about .business-hour ul li {
    text-align: left;
    list-style: none;
    line-height: 24px;
    font-size: 18px;
    padding-bottom: 5px;
}

#about .business-hour ul li span {
    font-weight: 500;
    padding-right: 10px;
}

#testimonial .review{
    display: flex;
    justify-content: space-between;
}

#testimonial .review-box {
    margin-top: 15px;
    width: 30%;
    height: 40vh;
}

#testimonial .icon {
    padding: 10px 10px 0px 10px;
    display: flex;
}

#testimonial .star-icon {
    display: flex;
}

#testimonial .star-icon i {
    color: rgb(251,188,4);
    padding-right: 3px;
}

#testimonial .star-icon p {
    padding-left: 5px;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

#testimonial .option-icon i {
    align-items: left !important;
    color: black;
}

#testimonial .review-box p{
    text-align: justify;
    padding: 0px 5px;
    font-size: 15px;
    line-height: 20px;
}

#testimonial .review-box h4{
    text-align: right;
    font-size: 18px;
    color: #88b06a;
    font-weight: 500;
}

#testimonial .button-normal {
    padding-top: 20px;
    text-align: center;
}

#testimonial .button-normal a{
    text-decoration: none;
    color: #88b06a;
    margin-left: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #88b06a;
    font-size: 16px;
    font-weight: 600;
}

#testimonial .button-normal a:hover {
    color: #088178;
}
#gallery .image{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#gallery .image img{
    width: 33%;
    height: 40vh;
}
